nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: lightsalmon;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.product-box {
  background: lightsalmon;
  padding: 40px;
  display: inline-block;
  border-radius: 10px;
  font-size: 100px;
}

.purchase {
  display: flex;
  align-items: center;
}

.name {
  margin-top: 10px;
}

.price {
  margin-top: -20px;
}
